IDZ/reminder_app.py
lab1/~$І_Сєргєєв_лаб1.docx
lab1/ЛМІ_Сєргєєв_лаб1.docx
lab1/ЛМІ_Сєргєєв_лаб1.pdf
lab2/ЛМІ_Сєргєєв_лаб2.docx
lab2/ЛМІ_Сєргєєв_лаб2.pdf
lab3/ЛМІ_Сєргєєв_лаб3.docx
lab3/ЛМІ_Сєргєєв_лаб3.pdf
lab4/ЛМІ_Сєргєєв_лаб4.docx
lab4/ЛМІ_Сєргєєв_лаб4.pdf
lab5/ЛМІ_Сєргєєв_лаб5.docx
lab5/ЛМІ_Сєргєєв_лаб5.pdf
lab5/__pycache__/lab5.cpython-312.pyc
lab6/ЛМІ_Сєргєєв_лаб6.docx
lab6/ЛМІ_Сєргєєв_лаб6.pdf
lab6/__pycache__/lab6.cpython-312.pyc
lab7/ЛМІ_Сєргєєв_лаб7.docx
lab7/ЛМІ_Сєргєєв_лаб7.pdf
lab7/__pycache__/lab7.cpython-312.pyc
lab8/ЛМІ_Сєргєєв_лаб8.docx
lab8/ЛМІ_Сєргєєв_лаб8.pdf
lab1/~$І_Сєргєєв_лаб1.docx
lab1/ЛМІ_Сєргєєв_лаб1.docx
lab5/__pycache__/lab5.cpython-312.pyc
lab6/__pycache__/lab6.cpython-312.pyc
lab7/__pycache__/lab7.cpython-312.pyc
.idea/vcs.xml
lab1/~$І_Сєргєєв_лаб1.docx
lab1/ЛМІ_Сєргєєв_лаб1.docx
lab5/__pycache__/lab5.cpython-312.pyc
lab6/__pycache__/lab6.cpython-312.pyc
lab7/__pycache__/lab7.cpython-312.pyc
lab1/~$І_Сєргєєв_лаб1.docx
lab1/ЛМІ_Сєргєєв_лаб1.docx
lab5/__pycache__/lab5.cpython-312.pyc
lab6/__pycache__/lab6.cpython-312.pyc
lab7/__pycache__/lab7.cpython-312.pyc
